.react-calendar {
    width: 100%;
    height: 400px;
}

.react-calendar__month-view__weekdays {
    color: #000000;
}

.react-calendar__month-view__days {
    height: 50px;
}

.all-habits-done {
    background-color: #8CC654;
    border-radius: 50%;
}

.not-all-habits-done {
    background-color: #fa7676;
    border-radius: 50%;
}